<div
  class="navbar_container p-6 md:pt-5 flex justify-center text-White font-bold md:flex-col md:justify-start md:items-start uppercase"
>
  <div class="num p-3 flex">
    <div
      class="border border-Pastelblue w-12 h-12 flex items-center rounded-full justify-center"
      routerLink="/"
      routerLinkActive="active"
    >
      1
    </div>
    <div class="info px-3 hidden md:block text-base">
      <h3 class="font-thin text-Pastelblue">Step 1</h3>
      <p class="font-normal">Your info</p>
    </div>
  </div>
  <div class="num p-3 flex">
    <div
      class="border border-Pastelblue w-12 h-12 flex items-center rounded-full justify-center"
      routerLink="/plan"
      routerLinkActive="active"
    >
      2
    </div>
    <div class="info px-3 hidden md:block text-base">
      <h3 class="font-thin text-Pastelblue">Step 2</h3>
      <p class="font-normal">Select plan</p>
    </div>
  </div>
  <div class="num p-3 flex">
    <div
      class="border border-Pastelblue w-12 h-12 flex items-center rounded-full justify-center"
      routerLink="/addons"
      routerLinkActive="active"
    >
      3
    </div>
    <div class="info px-3 hidden md:block text-base">
      <h3 class="font-thin text-Pastelblue">Step 3</h3>
      <p class="font-normal">Add-ons</p>
    </div>
  </div>
  <div class="num p-3 flex">
    <div
      class="border border-Pastelblue w-12 h-12 flex items-center rounded-full justify-center"
      routerLink="/total"
      routerLinkActive="active"
    >
      4
    </div>
    <div class="info px-3 hidden md:block text-base">
      <h3 class="font-thin text-Pastelblue">Step 4</h3>
      <p class="font-normal">Summary</p>
    </div>
  </div>
</div>
