@import "../../../styles.css";
.main_container {
  min-width: 300px;
}

.form_content {
  top: 20vh;
  left: 4%;
  right: 4%;
}
.btn {
  bottom: -140px;
  right: 0;
  left: 0;
}
@media screen and (min-width: 480px) {
  .main_container {
    min-width: 450px;
  }
}

@media screen and (min-width: 1000px) {
  .main_container {
    min-width: 900px;
  }
  .btn {
    bottom: 0;
  }
}

.errorBorder {
  border: 1px solid red;
}
.outer_circle {
  width: 4rem;
  height: 2rem;
  border-radius: 1rem;
  background-color: var(--Marineblue);
}
.inner_circle {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background-color: white;
}
.box {
  background-color: var(--Purplishblue);
}
